
body{
    background-color: black;
}
div{
    background-color: red;
    width: 40px;
    height: 40px;
}

.contaner{
    width: 700px;
    height: 700px;
background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
}
.num1{
    border: 2px solid gray;
    border-radius: 20px;
    border-right: 2px solid rgb(108, 108, 14);
    transition-duration: 20000s;
 transform: rotate(0deg);
}
.num1::after{
    border: 2px solid gray;
    border-radius: 20px;
    border-right: 2px solid rgb(207, 207, 27);
    transition-duration: 20000s;
 transform: rotate(36000000deg);
}
.num2{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    border-right: 2px solid rgb(108, 108, 14);
    transition-duration: 20000s;
 transform: rotate(0deg);
}
.num2::after{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    border-right: 2px solid rgb(207, 207, 27);
    transition-duration: 20000s;
 transform: rotate(36000000deg);
 display: flex;
}
.li{
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.num3{
    position: relative;
    background-color: black;
width: 10px;
height: 10px;
border-radius: 20px;
transition-duration:2s ;
transition-delay:1s ;
}

.num3{
    background-color:rgb(207, 207, 27);
width: 10px;
height: 10px;
border-radius: 20px;
transition-duration:2s ;
transition-delay:1s ;
}
.num3{
    background-color:rgb(0, 0, 0);
width: 10px;
height: 10px;
border-radius: 20px;
transition-duration:2s ;
transition-delay:1s ;
}
.num3::after{
    content: "";
    position: relative;
    background-color: rgb(0, 0, 0);
width: 10px;
height: 10px;
border-radius: 20px;
transition-duration:3s ;
transition-delay:4s ;
}
/* .num3{
    background-color: rgb(0, 0, 0);
width: 10px;
height: 10px;
border-radius: 20px;
transition-duration:2s ;
transition-delay:1s ;
} */
/* .num4{
    background-color: black;
width: 10px;
height: 10px;
border-radius: 20px;
transition-duration:2s ;
transition-delay:2s ;
}
.num4{
    background-color:  rgb(207, 207, 27);
width: 10px;
height: 10px;
border-radius: 20px;
transition-duration:2s ;
transition-delay:2s ;
}
.num4{
    background-color: black;
width: 10px;
height: 10px;
border-radius: 20px;
transition-duration:2s ;
transition-delay:2s ;
}
.num5{
    background-color: black;
width: 10px;
height: 10px;
border-radius: 20px;
transition-duration:2s ;
transition-delay:3s ;


}
.num5{
    background-color: rgb(207, 207, 27);
width: 10px;
height: 10px;
border-radius: 20px;
transition-duration:2s ;
transition-delay:3s ;
}
.num5{
    background-color: black;
width: 10px;
height: 10px;
border-radius: 20px;
transition-duration:2s ;
transition-delay:3s ;
} */
