.num1{
    color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    width: 300px;
    height: 125px;
    position: relative;
   left: 12%;
   top: 71%;


}
.num2{
    background-color: black;
    width: 130px;
    height: 100px;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 81%;
    right: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.num2::after{
    content: "";
    width: 20px;
    height: 20px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: -5%;
    left:90%;
    border-top: 4px  solid red ;
    border-right: 4px  solid red ;

}
.num2::before{
    content: "";
    width: 20px;
    height: 20px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 87%;
    left:0%;
    border-bottom: 4px  solid red ;
    border-left: 4px  solid red ;

}
.num1::before{
    content: "";
    width: 20px;
    height: 20px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 5%;
    left: 35%;
    border-top: 4px  solid red ;
    border-left: 4px  solid red ;
}
.num1::after{
    content: "";
    width: 20px;
    height: 20px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 78%;
    left:75%;
    border-bottom: 4px  solid red ;
    border-right: 4px  solid red ;
}
