/* =======================================================================
exercise 8
=======================================================================
.num1{
    font-size: 30px;
    border:1px solid red;
    border-radius: 10px;
    
}

.num2{
    background-color: black;
     color:white;
}
.num3{
    
 body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}
 
        font-weight: bold ;
        
        font-style: italic;
} */
 /* =====================================================================================
exercise 9
===================================================================================== 
div{
    background-image:url("_107098678_mediaitem107098677.jpg");
    background-repeat :no-repeat;
} */
 /* =========================================================================================
exercise 10
============================================================================================  */
.numers{
    background-color: red;
}
p{
    color:green
}
span{
    color:yellow
}
body {
    font-family: 'Open Sans', sans-serif;
  }
  
.number1{
    font-family: 'Rubik', sans-serif;
    background-image:url("_107098678_mediaitem107098677.jpg") ;
    background-size: 400px;
    
    background-repeat :no-repeat;
  }
.number2{
    font-family: 'Roboto Mono', monospace;
    font-family: 'Rubik', sans-serif;
    background-image:url("Wikipedia_svg_logo-es.svg.png") ;
    background-repeat: no-repeat;
    background-size: 400px;

}
.nubmer3{
    font-family: 'Oswald', sans-serif;
    background-image:url("107252657-1686148946583-gettyimages-1442287010-dsc_5346_e12c8058-0068-4b59-a748-9f70dea0f57b.jpeg")
    background-repeat: no-repeat;
     background-size: 400px; 
} 



