body{
    background-color: rgb(20, 69, 163) ;
}
.maindiv{
    background-color: rgb(255, 255, 255);
    font-variant-position: normal;
    margin: 0% 60% 0% 40%;
    height: 570px;
    border-radius: ;
    width: 300px;
}
 h1{
     padding: 0% 0% 0% 33%; 
} 
.p1{
    text-align: center;
}
.div2{
    padding-left: 10px;
}
.in1{
    width: 250px;
}
.in{
    width: 250px;
}
.in2{
    width: 250px;
}
.div3{
    padding-left: 10px;
}
.div4{
    padding-left: 10px;
}
.div5{
    padding-left: 10px;
}
.in3{
    width: 250px;
}
.div6{
    padding-left: 10px;
}
.in4{
    width: 250px;
}
.a1{
    color: aquamarine;
}
.pmax{
    color: white;
}
.in5{
    margin-left: 35%;
    background-color: aquamarine;
    border: 1px solid aquamarine;
}
.div8{
    padding-left: 20px;
}
.div9{
    padding-left: 42%;
}
